<div class="container">
  <div *ngIf="tasks?.length > 0; else noTasks">
      <ul *ngFor="let task of tasks" class="collection">
        <li class="collection-item" (dblclick)="deleteTask($event, task)">
          <strong>{{ task.title }}</strong> : {{ task.description }}
          <div class="secondary-content">
            <a href="#"><i class="fa fa-pencil-square-o"></i> </a>
            <a href="#"><i class="fa fa-trash" (click)="deleteTask($event, task)"></i> </a>
          </div>
        </li>
      </ul>
    </div>
    
    <ng-template #noTasks>
      <h5>There are no tasks yet.</h5>
    </ng-template>
</div>